:root {
  --clr-1: rgb(4, 120, 87);
  --font-clr: rgb(230, 230, 230);
}

html, body {
  height: 100%;
}

body {
  font-family: sans-serif;
  color: var(--font-clr);
}

a {
  text-decoration: none;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr;
}

.header {
  background: yellow;
  grid-area: 1 / 2 / 2 / 3;
}

.sidebar {
  background: var(--clr-1);
  grid-area: 1 / 1 / -1 / 2;
}

.logo {
  padding-left: 12px;
  display: grid;
  grid-template-columns: 48px 1fr;
  place-items: center;
  gap: 8px;
}

.logo h1 {
  justify-self: start;
}

.sidebar-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav-item a {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--font-clr);
  padding-left: 12px;
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 8px;
  place-items: center;
}

.sidebar-nav-item div {
  justify-self: start;
}

.content {
  background: azure;
  grid-area: 2 / 2 / -1 / -1;
}
