:root {
  --bg-clr-1: rgb(4, 120, 87);
  --bg-clr-2: rgb(5, 150, 105);
  --bg-clr-3: rgb(54, 54, 54);
  --bg-clr-4: rgb(34, 34, 34);
  --card-clr: rgb(16, 185, 129);
  --card-padding: 12px 24px;
  --card-radius: 8px;
  --font-clr-1: rgb(230, 230, 230);
  --font-clr-2: rgb(170, 170, 170);
  --header-icon-width: 30px;
  --box-shadow:  4px 4px 15px 1px rgba(20, 20, 20, .85);
}

html, body {
  height: 100%;
}

body {
  font-family: roboto, sans-serif;
  background: var(--bg-clr-4);
  color: var(--font-clr-1);
}

a {
  text-decoration: none;
  color: var(--font-clr-1);
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: minmax(200px, 400px) 4fr;
  grid-template-rows: 200px 4fr;
}

.header {
  background: var(--bg-clr-3);
  box-shadow: var(--box-shadow);
  padding: 8px 32px;
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1.25fr;
  grid-template-rows: 1fr 2fr;
}

.search-area {
  grid-column: 1 / 3;
  display: flex; 
  align-items: center;
}

.search-area img {
  width: var(--header-icon-width);
}

.search-area input {
  height: 30px;
  border-radius: 25px;
  border: none;
  background: rgb(110, 110, 110);
  padding: 8px 12px;
  color: var(--font-clr-1);
  width: 95%;
}

.account-corner {
  grid-column: 3 / 4;
  display: grid;
  grid-template-columns: 30px 70px auto;
  gap: 1.5rem;
  align-items: center;
  justify-content: end;
}

.account-corner img {
  width: var(--header-icon-width);
}

.account-link {
  font-size: 1.2rem;
  font-weight: bold;
}

.greetings {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
  display: grid;
  align-items: start;
  grid-template-columns: 105px 1fr;
  gap: 2rem;
}

.greetings-text {
  font-weight: bold;
  font-size: 0.9rem;
}

.profile-name {
  font-size: 1.7rem;
}

.buttons {
  grid-column: 3 / 4;
  display: grid;
  grid-template-columns: 150px 150px 150px;
  gap: 12px;
  align-content: center;
  justify-content: end;
}

.profile-pic,
.profile-pic-big {
  background: url('../assets/profile_pic.webp');
  background-position: center;
  border-radius: 100%;
}

.profile-pic {
  width: 70px;
  height: 70px;
  background-size: 180px;
}

.profile-pic-big {
  width: 105px;
  height: 105px;
  background-size: 240px;
}

.btn {
  background: var(--bg-clr-1);
  display: block;
  padding: 12px;
  border-radius: 18px;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
  width: content;
}

.btn:hover {
  background: var(--bg-clr-2);
}

.sidebar {
  background: var(--bg-clr-1);
  grid-area: 1 / 1 / -1 / 2;
  display: grid;
  grid-template-rows: minmax(100px, 150px) 1fr;
  gap: 32px;
}

.logo {
  padding-left: 12px;
  display: grid;
  grid-template-columns: 48px 1fr;
  place-items: center;
  gap: 8px;
}

.logo h1 {
  justify-self: start;
}

.sidebar-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 24px;
}

.sidebar-nav-item a {
  font-size: 1.3rem;
  font-weight: bold;
  padding-left: 12px;
  display: grid;
  grid-template-columns: 48px 1fr;
  gap: 8px;
  place-items: center;
}

.sidebar-nav-item a:hover {
  color: var(--font-clr-2);
}

.sidebar-nav-item div {
  justify-self: start;
}

.push-down {
  padding-bottom: 48px;
}

.content {
  padding: 24px;
  grid-area: 2 / 2 / -1 / -1;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "projects announcements"
    "projects trending";
  gap: 24px;
}

.projects {
  grid-area: projects;
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 24px;
}

.card {
  background: var(--bg-clr-3);
  box-shadow: var(--box-shadow);
  padding: var(--card-padding);
  border-radius: var(--card-radius);
  border-left: 8px solid var(--card-clr);
  display: grid;
  grid-template-rows: 60px 1fr 40px;
}

.card p {
  font-size: 1.2rem;
  color: var(--font-clr-2);
}

.card-icons {
  display: grid;
  grid-template-columns: 40px 40px 40px;
  justify-content: end;
}

.card-icon {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  fill: var(--font-clr-1);
}

.card-icon:hover path {
  fill: var(--font-clr-2);
}

.announcements-list,
.trending-list {
  list-style: none;
  margin: 0;
  padding: var(--card-padding);
  border-radius: var(--card-radius);
  background: var(--bg-clr-3);
  box-shadow: var(--box-shadow);
}

.announcements-list h3 {
  margin: 18px 0;
}

.announcements-list p {
  color: var(--font-clr-2);
  position: relative;
}

.announcement:nth-child(1) p::after,
.announcement:nth-child(2) p::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -9px;
  height: 1px;
  background: rgba(20, 20, 20, 0.9);
}

.trending-list {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 18px;
}

.trending-user {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.user-info {
  font-size: 1.1rem;
  display: grid;
  gap: 4px;
}

.username {
  font-weight: bold;
}

.user-project {
  color: var(--font-clr-2);
}

.profile-pic2 {
  background: url('../assets/profile_pic2.jpg');
}
.profile-pic3 {
  background: url('../assets/profile_pic3.jpg');
}
.profile-pic4 {
  background: url('../assets/profile_pic4.jpg');
}

.profile-pic2,
.profile-pic3,
.profile-pic4 {
  background-position: center;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  background-size: 100px;
}

